body {
    background-color: #555555;
    color: #d0d0d0;
    text-align: center;
}

.wrapper {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

header h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}


#board {
    border-collapse: collapse;
    font-size: 80px;
}

#board td {
    border: 8px solid #ececec;
    width: 100px;
    height: 100px;
}

#board td.active-cell:hover {
    cursor: pointer;
}

#board tr:first-child td {
    border-top: 0;
}

#board tr:last-child td {
    border-bottom: 0;
}

#board tr td:first-child {
    border-left: 0;
}

#board tr td:last-child {
    border-right: 0;
}

.round-box {
    width: 100px;
    height: 100px;
    margin: auto;
}

.sideboard {
    vertical-align: top;
    padding: 40px 10px;
    display: inline-block;
    width: 120px;
    height: 320px;
    margin: 25px 0;
}

.inline {
    vertical-align: top;
    display: inline-block;
    width: 322px;
    height: 322px;
}


/* Circle and Square */
.circle {
    border: 12px solid white;
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: calc(100%/2);
}

.circle-shadow {
    border: 14px solid #b6b6b6;
    display: block;
    width: 49px;
    height: 49px;
    margin: auto;
    border-radius: calc(100%/2);
}

.cross {
    width: 90px;
    height: 90px;
    position: relative;
    transform: rotate(45deg);
}

.cross:before, .cross:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: white;
}

.cross:before {
    left: 61%;
    width: 15px;
    margin-left: -15%;
    height: 100%;
}

.cross:after {
    top: 56%;
    height: 15px;
    margin-left: -45%;
    margin-top: -15%;
    width: 100%;
}

.cross-shadow {
    width: 90px;
    height: 90px;
    position: relative;
    transform: rotate(45deg);
}

.cross-shadow:before, .cross-shadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: #b6b6b6;
}

.cross-shadow:before {
    left: 60%;
    width: 17px;
    margin-left: -15%;
    height: 100%;
}

.cross-shadow:after {
    top: 55%;
    height: 17px;
    margin-left: -45%;
    margin-top: -15%;
    width: 100%;
}